---
layout: default
---

<div class="wrapper">
  <h1>Welcome</h1>
  <div class="home">
    <div class="hexagon-row">
      <div class="hexagon">
        <div class="left color-one"></div>
        <div class="middle color-one">
          <div class="hex-inner-wrapper">
            {% for info in site.data.social %}
            <a href="{{info.url}}" class="hex-inner-link-{{forloop.index}}" target="_blank">
              <div class="hex-inner {{info.name}}"></div>
            </a>
            {% endfor %}
          </div>
        </div>
        <div class="right color-one"></div>
      </div>
      <div class="hexagon even">
        <div class="left color-two"></div>
        <div class="middle color-two">
          <div class="hex-inner-wrapper">
            <a href="{{site.data.about_me.url}}" class="hex-inner-link-1">
              <div class="hex-inner {{site.data.about_me.name}}-hex">
                <span>{{site.data.about_me.name | uppercase}}</span>
              </div>
            </a>
            <a href="mailto:{{site.data.about_me.email}}" class="hex-inner-link-2">
              <div class="hex-inner email"></div>
            </a>
          </div>
        </div>
        <div class="right color-two"></div>
      </div>
      <div class="hexagon">
        <div class="left color-three"></div>
        <div class="middle color-three">
          <span class="projects">Projects</span>
          <div class="hex-inner-wrapper">
            {% for info in site.data.personal_projects %}
            <a href="{{info.url}}" class="hex-inner-link-{{forloop.index}}" target="_blank">
              <div class="hex-inner {{info.name}}"></div>
            </a>
            {% endfor %}
          </div>
        </div>
        <div class="right color-three"></div>
      </div>
    </div>
    <div class="hexagon-row">
      <div class="hexagon">
        <div class="left color-four"></div>
        <div class="middle color-four">
          Work
          <div class="hex-inner-wrapper">
            {% for info in site.data.work_experience %}
            <a href="{{info.url}}" class="hex-inner-link-{{forloop.index}}" target="_blank">
              <div class="hex-inner {{info.name | downcase | split: ' ' | join: '_'}}"></div>
            </a>
            {% endfor %}
          </div>
        </div>
        <div class="right color-four"></div>
      </div>
    </div>
  </div>
</div>
