<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0, user-scalable=no">

    <title>{{site.title}}</title>
    <meta name="description" content="{{site.description}}">

    <link rel="stylesheet" href="/styles.css">
    <link rel="canonical" href="http://localhost:4000/">
    <link rel="alternate" type="application/rss+xml" title="{{site.title}}" href="/feed.xml">
  </head>

  <body>
    <main class="page-content" aria-label="Content">
      {{ content }}
    </main>
  </body>

</html>
